.center {
    margin: 10px;
    display: flex;
    justify-content: center;
  }
  html, body 
  { 
   height: 100%;
   overflow-x: hidden
  }

  .centerim {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
  }

  p{
    font-style: oblique;
  }

  h1,h2,h3{
    font-family: Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
    font-weight: bold;  
  }

.logo {
    width: 30%;
  }
  
@media (max-width:767px) {
.logo {
      margin-bottom:25px;
      padding-top:25px;
      width: 50%;
    }
  }
 
 
  .code {  
    display: flex;
    justify-content: center;
      }

@media (max-width:767px) {
.code {display: flex;
  justify-content: center;
  margin-left: 120px;
    }
  }
