.center {
    margin: 1%;
  }
  html, body 
  { 
   height: 100%;
   overflow-x: hidden
  }

  .centerim {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
  }

  .centerexp {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }


  p{
    font-style: oblique;
    justify-content: center; 
  }

  h1,h2,h3{
    font-family: Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
    font-weight: bold;
    display: flex;
    justify-content: center;  
  }

#logo {
    width: 20%;
      display: block;
      margin-left: auto;
      margin-right: auto;
  }
  
@media (max-width:767px) {
#logo {
      width: 50%;
    }
  }
 
  .code {  
    display: flex;
    justify-content: center;
      }

@media (max-width:767px) {
.code {display: flex;
  justify-content: center;
  margin-left: 120px;
    }
  }
